<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
   <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style type="text/css">
        .pagination{
            margin-left: 500px;
        }
        #myButton{
             margin-left: 530px;
        }
    </style>
    <% 
        if(g==0){
    %>
   <script>

   
    $(window).on('load',function(){
        $('#myModal').modal('show');
        document.getElementById('nameid').value= '<%= single[0].name %>';
        document.getElementById('sectionid').value= '<%= single[0].section %>';
        document.getElementById('emailid').value= '<%= single[0].email %>';
        document.getElementById('phoneid').value= '<%= single[0].phone %>';
        document.getElementById("nameid").readOnly = true;
        document.getElementById("btn").formAction = "/update";

    });
</script>
<% } %>
</head>
<body>
    <div class="container">
        <h2 class="display-3">Student Application</h2>
<br>
        <% if(status == true){ %>
        <script type="text/javascript">
            window.alert('User already exists !');
        </script>
        <% } %>
      <% var t=0 %>

            <% students.forEach( function( student ) { %>
                <% t++ %>
            <% }) %>
            <% var last=Math.ceil(t/5) %>
             <table class="table" id="mytable">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Email</th>
      <th colspan="2">Phone</th>

<th >Edit</th>
<th colspan="5">Delete</th>

    </tr>
  </thead>
  <tbody>
            <%
                if(currentPage == 1){
                for(var r=0; r<5;r++){ %>

                <tr>
    <form method="post">
      
    
      <td><%= students[r].name %></td>
      <td><%= students[r].section %></td>
      <td><%= students[r].email %></td>
        <td><%= students[r].phone %></td>
          <td><input type="hidden" name="val" value=<%= students[r].name %> ></td>
            <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/editpage">Edit</button></td>
             <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/dell">Delete</button></td>
             </form>
    </tr>
    
                <% } %>


               <% } %>
                <%
                if((currentPage > 1)&&(currentPage != last)){
                for(var r=(currentPage-1)*5; r< currentPage*5;r++){ %>

                <tr>
    <form method="post">
      
    
      <td><%= students[r].name %></td>
      <td><%= students[r].section %></td>
      <td><%= students[r].email %></td>
        <td><%= students[r].phone %></td>
          <td><input type="hidden" name="val" value=<%= students[r].name %> ></td>
            <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/editpage">Edit</button></td>
             <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/dell">Delete</button></td>
             </form>
    </tr>
    
                <% } %>


               <% } %>
                <%
                if((currentPage == last)){
                for(var r=(currentPage-1)*5; r< t;r++){ %>

               <tr>
    <form method="post">
      
    
      <td><%= students[r].name %></td>
      <td><%= students[r].section %></td>
      <td><%= students[r].email %></td>
        <td><%= students[r].phone %></td>
          <td><input type="hidden" name="val" value=<%= students[r].name %> ></td>
            <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/editpage">Edit</button></td>
             <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/dell">Delete</button></td>
             </form>
    </tr>
    
                <% } %>


               <% } %>
</tbody>
</table>

            
            <% var pageCount=Math.ceil(t/5) %>
       
           <% if (pageCount > 1) { %>
            <ul class="pagination">
                <% if (currentPage > 1) { %>
                    <li class="page-item"><a class="page-link" href="/pagination/<%= currentPage-1 %>">&laquo;</a></li>
                <% } %>
                <% var i = 1;
                if (currentPage > 5) {
                    i = +currentPage - 4;
                } %>
                <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <% } %>
                <% for (i; i<=pageCount; i++) { %>
                    <% if (currentPage == i) { %>
                        <li class="active page-item"><span class="page-link"><%= i %> <span class="sr-only">(current)</span></span></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/pagination/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == (+currentPage + 4)) { %>
                        <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                    <% break; } %>
                <% } %>
                <% if (currentPage != pageCount) { %>
                    <li class="page-item"><a class="page-link" href="/pagination/<%= pageCount %>">&raquo;</a></li>
                <% } %>
            </ul>
        <% } %>
        <br>
        <br>
        <!--<button onclick="location.href = '/register';" class="btn btn-primary btn-sm" id="myButton" class="submit-button" >Register</button>-->
                <button class="btn btn-primary btn-sm" id="myButton" class="submit-button" data-toggle="modal" data-target="#myModal">Register</button>


    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
       
            <div class="modal-body">
                <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Add a student</h1>
</nav>
   
        
        <form method="post">
  <div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" id="nameid" name="name" placeholder="Enter name" required>
   

  </div>
  <div class="form-group">
    <label >Section</label>
    <input type="text" class="form-control" id="sectionid" name="section" placeholder="A/B/C/D" required>
  </div>
  
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" id="emailid" name="email" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label >Phone</label>
    <input type="number" class="form-control" id="phoneid" name="phone" placeholder="+91" min="1000000000" max="9999999999" required >
  </div>
  
  
  <button type="submit" formaction="/save1" id="btn" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Save</button>
  
            <a href="/pagination/1" id="btn2" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Cancel</a>
</form>
            </div>
           
        </div>
    </div>
</div>

</body>
</html>